<head>
    <link rel="stylesheet" href="./assets/css/style-cronometro.css">
</head>

<section>
    <div class="container-cronometro">
        <div class="timer-display" id="timer">
            <h1>00:00:00</h1>
        </div>
        <div class="buttons">
            <button id="start" class="btn">Iniciar</button>
            <button id="pause" class="btn">Pausar</button>
            <button id="reset" class="btn">Resetar</button>
        </div>
    </div>
</section>

<script src="../assets/js/cronometro.js"></script>