<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relógio</title>

    <!-- Links stylesheet da pagina inicial -->
     <link rel="stylesheet" href="../assets/css/main.css">
     <link rel="stylesheet" href="../assets/css/style-cronometro.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="paginas">
                <ul class="elementos">
                    <li class="nav-item"><a href="../view/index.html">Relógio Mundial</a></li>
                    <li class="nav-item"><a href="../view/Cronometro.html">Cronômetro</a></li>
                    <li class="nav-item"><a href="../view/Temporizador.html">Temporizador</a></li>
                </ul>
            </div>
        </div>
    </header>
        <h1>hi</h1>
    <footer>
        <h5>Created by Matheus Santana</h5>
    </footer>
    <script src="../assets/js/cronometro.js"></script>
</body>
</html>
