<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relógio</title>

    <!-- Links stylesheet da página inicial -->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/style-temp.css">
</head>
<body>
    <header>
        <div class="menu">
            <div class="paginas">
                <ul class="elementos">
                    <li class="nav-item"><a href="../view/index.html">Relógio Mundial</a></li>
                    <li class="nav-item"><a href="../view/Cronometro.html">Cronômetro</a></li>
                    <li class="nav-item"><a href="../view/Temporizador.html">Temporizador</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="inputs-temp">
                <input type="number" id="horas" placeholder="HH" min="0" max="23">
                <input type="number" id="minutos" placeholder="MM" min="0" max="59">
                <input type="number" id="segundos" placeholder="SS" min="0" max="59">
            </div>
            <div class="display-temp">
                <h1 id="hora">00</h1>
                <h1>:</h1>
                <h1 id="minuto">00</h1>
                <h1>:</h1>
                <h1 id="segundo">00</h1>
                <h2>:</h2>
                <h2 id="milezimo">000</h2>
            </div>
            <div class="butoes">
                <button id="start-pause" class="btn">Iniciar</button>
                <button id="reset" class="btn">Resetar</button>
            </div>
        </section>
    </main>
    <footer>
        <h5>Created by Matheus Santana</h5>
    </footer>
    <script src="../assets/js/temporizador.js"></script>
</body>
</html>
