@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --fundo: ;
    --relogio-principal: #3939393b;
    --relogios-secundario: RGB(255 255 255 40%);
    --color-menu: #b9b9b9;
}

*{
    margin: 0;
    background-color: var(--fundo);
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Bebas+Neue', sans-serif;
}


/* Definindo a nav inicial */
.menu{
    display: flex;
    height: 82px;
    width: 100%;
    justify-content: center;
}

.paginas{
    background-color: var(--color-menu);
    height: 100%;
    width: 75%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
}

.elementos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: none;
    padding-inline-start: 0;
    margin: 50px;
}

.elementos li{
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 100%;
    display: flex;
    text-decoration: none;
    background: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-size: 25px;
}

.elementos li:hover{
    background-color: #3939393b;
    border-radius: 20px;
}

.relogio-principal{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aliceblue;
    justify-content: center;
}


#relogios{
    display: flex;
    justify-content: center
}

#seta-esq{
    height: 75px;
}

#seta-dir{
    height: 75px;
}

.seta{
    background: var(--relogio-principal);
    align-items: center;
    justify-content: center;
}

.container-relogios{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.rel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 416px;
    width: 625px;
   background: var(--relogio-principal);
   margin: 38px;
   border-radius: 20px;
}

