@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --fundo: #1e1e1e;
    --relogio-principal: #8383835b;
    --relogios-secundario: #ffffff3f;
    --color-menu: #b9b9b96b;
    --font-color-nav: #dcdcdc;
}

*{
    margin: 0;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    background: var(--fundo);
}

#btn-mobile{
    display: none;
}

/* Definindo a nav inicial */
.menu{
    display: flex;
    height: 82px;
    width: 100%;
    justify-content: center;
}

.paginas{
    background-color: var(--color-menu);
    height: 100%;
    width: 75%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
}

.elementos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: none;
    padding-inline-start: 0;
    margin: 50px;
}

.elementos li{
    justify-content: center;
    align-items: center;
    height: 82px;
    width: 100%;
    display: flex;
    text-decoration: none;
    background: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    font-size: 25px;
}

.elementos li:hover{
    background-color: #3939393b;
    border-radius: 20px;
    color: var(--fundo);
}

.elementos a{
    text-decoration: none;
    color: var(--fundo);
}

.imagem-pais{
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: var(--relogio-principal);
}